/* Styles of Landing by Layout */

body {
    margin: 0;
    padding: 0;
}

body * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

body * {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1,
h1 span,
h2,
h3,
h4,
h5,
h6,
title {
    font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    line-height: 53px;
}

/* Colors Begin */
h1,
.button,
.header-navigation li a,
.top-block-content p {
    color: #FFFFFF;
}

.logo,
.header-navigation li a:hover,
.header-navigation li a:active,
.phone a,
.main-title-city {
    color: #E3B873;
}

.header,
.completed-projects {
    background-color: #131313;
}

/* Colors End */



.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

.header-content-wrapper {
    max-width: 1256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    line-height: 15px;
    margin: 0 auto;
    padding: 24px 0 22px;
}

.logo {
    text-transform: uppercase;
}


.header-navigation {
    display: flex;
    padding: 0;
}

.header-navigation li {
    list-style: none;
    margin-right: 47px;
}

.header-navigation li a {
    text-decoration: none;
}


/* Buttons Begin */
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    border-radius: 2px;
}

.button-header {
    padding: 13px 33px;
}

.top-block-content button {
    width: 207px;
    padding: 20px 0;
}

.button-top-block-right {
    background: transparent;
    border: 1px solid #FFFFFF;
    box-shadow: none;
    margin-left: 20px;
}

/* Buttons End */

.top-block {
    background-image: url("../images/top-block-image.jpg ");
    background-size: cover;
    height: 707px;
    position: relative;
}

.top-block-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.top-block .conteiner {
    z-index: 1;
    position: relative;
}

.top-block-content {
    padding-top: 194px;
    padding-left: 134px;
    width: 670px;
}

.top-block-content p {
    font-size: 22px;
    line-height: 36px;
}

.top-block-buttons-wrapper {
    display: flex;
}

